rclone-bin/rclone-* filter=lfs diff=lfs merge=lfs -text
tools-bin/rclone/rclone-* filter=lfs diff=lfs merge=lfs -text
tools-bin/icloudpd/icloudpd-* filter=lfs diff=lfs merge=lfs -text
tools-bin/osxphotos/osxphotos-* filter=lfs diff=lfs merge=lfs -text
